body {
    background-color: rgb(23, 87, 23);
    font-family: 'Trebuchet', 'Lucida';
    text-align: center;
    font-weight: bold;
    color: white;
}
h1 {
    color: rgb(191, 201, 53);
    text-align: center
}

button {
    color: #016f32;
    width: 150px;
    background-color: goldenrod;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-top: 2px;
    margin-bottom: 2px;
    cursor: pointer;
}
#message-el {
    font-style: italic;
}